---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIyMzgwMDEyMDM4NjMtY29tcHV0ZUBkZXZlbG9wZXIuZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTU3NDk0MjIzNywiaWF0IjoxNTc0OTQyMTE3LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvYW5kcm9pZHB1Ymxpc2hlciJ9.Voub-ZsgZJqUM5s19ETNBlN3DDGY6gvwfZyOePsRHslUZa85I0qpOjzmW-bL839r0rE_HKEN0keIP7mHb8LQIazbAFDXyIp0WkkFq69J9v8CoLtn22wG858ngFdRu7j5XGuWB6va8PYBjssN5_WslBhF0IcZfkI_8ZFCs30Jv661KtmI4lq-xtqaSTURw-eusyj_wZa4DY14455ptaqG_hzj-J0gNzFgr8ww9w5_EMuhvo-_y5ddXDuv92fk_C_go921hE3Kl2YzMwQiw9wOoV8kzyjbB1OtWs_3LxUKnCIpUw91qifK34OybUSeptM3K9691haoBEKPwKTq8MFYGw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.Kl6zBzBl-1zx-loZadqRTztLLc_XH-J5ifiXlqmK81lW6S9ylD1taCxId3tOzGcOXO_Y2tLTITbTQoEmkx3-S6bSwI2jESEcm7191ghLny2LoOzkyuq-3u05-irbjTpn",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 28 Nov 2019 11:56:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/androidpublisher/v3/applications/com.spbtv.rspec/purchases/subscriptions/spbtv_test/tokens/kicgkmmieakfkgfnkclldoao.AO-J1OyAN-PCXHeriJ7W99KLeA_hZhqOZS3vnA9a5Mo1fyFhg4iF61FMVOfCqf8B9Jc5tzknR-Et58T79LsdIEWH2vBHOkSHJDOBTnknZgaSuhKjoGXq33M2VQxbQaz_KrQLRAZGPn7-gxQXcqaxvorNj4c2Q_1jaA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Kl6zBzBl-1zx-loZadqRTztLLc_XH-J5ifiXlqmK81lW6S9ylD1taCxId3tOzGcOXO_Y2tLTITbTQoEmkx3-S6bSwI2jESEcm7191ghLny2LoOzkyuq-3u05-irbjTpn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
        - '"jHW6YjOyPFXPpmg15O3IXs_sBJw/C0oprM0j84BMjMehgtuHYmeryCI"'
      Content-Type:
        - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "androidpublisher#subscriptionPurchase",
         "startTimeMillis": "1495804701620",
         "expiryTimeMillis": "1495874499494",
         "autoRenewing": false,
         "priceCurrencyCode": "RUB",
         "priceAmountMicros": "15000000",
         "countryCode": "US",
         "developerPayload": "{\"billing_account_id\":\"d958d828-2f55-46fd-890c-5f9d2ec594a2\"}",
         "cancelReason": 1
        }
  recorded_at: Thu, 28 Nov 2019 11:56:18 GMT
recorded_with: VCR 3.0.3
