---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.ElpoBIun-w4C74leeOuFfg_N2IESByORl-azCMMWL6DSqSoZS1DLAMPnEGgV7SQHzNMMW0mpJF5sNbRrSDetDfl3W873dsBjwNPqiIMpMPg1ZU_k_ygjAAaP4r0",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 13 Jun 2017 09:01:33 GMT
- request:
    method: post
    uri: https://www.googleapis.com/androidpublisher/v3/applications/com.spbtv.incorrect/purchases/subscriptions/spbtv_test/tokens/kicgkmmieakfkgfnkclldoao.AO-J1OyAN-PCXHeriJ7W99KLeA_hZhqOZS3vnA9a5Mo1fyFhg4iF61FMVOfCqf8B9Jc5tzknR-Et58T79LsdIEWH2vBHOkSHJDOBTnknZgaSuhKjoGXq33M2VQxbQaz_KrQLRAZGPn7-gxQXcqaxvorNj4c2Q_1jaA:revoke
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.ElpoBIun-w4C74leeOuFfg_N2IESByORl-azCMMWL6DSqSoZS1DLAMPnEGgV7SQHzNMMW0mpJF5sNbRrSDetDfl3W873dsBjwNPqiIMpMPg1ZU_k_ygjAAaP4r0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "applicationNotFound",
            "message": "No application was found for the given package name.",
            "locationType": "parameter",
            "location": "packageName"
           }
          ],
          "code": 404,
          "message": "No application was found for the given package name."
         }
        }
  recorded_at: Tue, 13 Jun 2017 09:01:33 GMT
recorded_with: VCR 3.0.3
