---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.ElpkBHckCqNyKxCyig_5BzyJSihbddXHEca9CKr7znP1pSEttjV0SGNoIrKA7WgVoB_6Vh1CONgJNmnhF-iYiIBq5FQBYOF5oZBURU5EYeszqhaZG6Ca_YrEr_0",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Fri, 09 Jun 2017 16:54:47 GMT
- request:
    method: post
    uri: https://www.googleapis.com/androidpublisher/v2/applications/com.spbtv.rspec/purchases/subscriptions/spbtv_test/tokens/wrong:revoke
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.ElpkBHckCqNyKxCyig_5BzyJSihbddXHEca9CKr7znP1pSEttjV0SGNoIrKA7WgVoB_6Vh1CONgJNmnhF-iYiIBq5FQBYOF5oZBURU5EYeszqhaZG6Ca_YrEr_0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "invalid",
            "message": "Invalid Value"
           }
          ],
          "code": 400,
          "message": "Invalid Value"
         }
        }
  recorded_at: Fri, 09 Jun 2017 16:54:48 GMT
recorded_with: VCR 3.0.3
