---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.ElpkBLYWdVYcZmtdsOjjRH8ZoeGR38_WjWn85xOnYYS_PxAFm8sNQSDw7m9o6eW5e5U4jyKsMZlhxP468mPmJZWvStlHP-uiuqBEtZ6vCD7e0oL0nDTpwmJNj-Y",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Fri, 09 Jun 2017 16:44:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/androidpublisher/v2/applications/com.spbtv.rspec/purchases/subscriptions/spbtv_test/tokens/kicgkmmieakfkgfnkclldoao.AO-J1OyAN-PCXHeriJ7W99KLeA_hZhqOZS3vnA9a5Mo1fyFhg4iF61FMVOfCqf8B9Jc5tzknR-Et58T79LsdIEWH2vBHOkSHJDOBTnknZgaSuhKjoGXq33M2VQxbQaz_KrQLRAZGPn7-gxQXcqaxvorNj4c2Q_1jaA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.ElpkBLYWdVYcZmtdsOjjRH8ZoeGR38_WjWn85xOnYYS_PxAFm8sNQSDw7m9o6eW5e5U4jyKsMZlhxP468mPmJZWvStlHP-uiuqBEtZ6vCD7e0oL0nDTpwmJNj-Y
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"jHW6YjOyPFXPpmg15O3IXs_sBJw/C0oprM0j84BMjMehgtuHYmeryCI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "androidpublisher#subscriptionPurchase",
         "startTimeMillis": "1495804701620",
         "expiryTimeMillis": "1495874499494",
         "autoRenewing": false,
         "priceCurrencyCode": "RUB",
         "priceAmountMicros": "15000000",
         "countryCode": "US",
         "developerPayload": "{\"billing_account_id\":\"d958d828-2f55-46fd-890c-5f9d2ec594a2\"}",
         "cancelReason": 1
        }
  recorded_at: Fri, 09 Jun 2017 16:44:28 GMT
recorded_with: VCR 3.0.3
